<div class="row text-center header-row">
	<div class="container">
		<h2>Aloop Graphics</h2>
		<h3>Here's a look at our Aloop Graphic kits, past and present...</h3>
	</div> <!-- container -->
</div> <!-- header row -->

<div class="row">
	<div class="container">
		<div class="black-box hover no-padding">
			<div class="inline-block product-image-div">
				<%= image_tag "graphics_gen4.jpg", alt: "Aloop Gen 4 Graphics" %>
			</div> <!-- image div -->
			<div class="inline-block product-text-div">
				<h2>Gen 4</h2>
				<p>Our current design: this is what ships with our kits today, and when you order replacement graphics, this is the style you'll receive. We call this design Gen 4. <strong>You can purchase these on our <%= link_to "online store", products_path %>.</strong></p>
			</div> <!-- text-div -->
		</div> <!-- black box -->

		<div class="black-box no-padding">
			<div class="inline-block product-image-div">
				<%= image_tag "graphics_gen3.jpg", alt: "Aloop Gen 3 Graphics" %>
			</div> <!-- image div -->
			<div class="inline-block product-text-div">
				<h2>Gen 3</h2>
				<p>This is the preceding version of our graphics, Gen 3. This style is <strong>no longer available</strong> as a set, but if you need some right side decals only, let us know, somehow we ended up with a dozen or so.</p>
			</div> <!-- text-div -->
		</div> <!-- black box -->

		<div class="black-box no-padding">
			<div class="inline-block product-image-div">
				<%= image_tag "graphics_gen2.jpg", alt: "Aloop Gen 2 Graphics" %>
			</div> <!-- image div -->
			<div class="inline-block product-text-div">
				<h2>Gen 2</h2>
				<p>Gen 2 graphics had more white in the design, and were a transitional design that went well with a newer style black gripper seat or the earlier slick sided seats. <strong>No longer available.</strong></p>
			</div> <!-- text-div -->
		</div> <!-- black box -->

		<div class="black-box no-padding">
			<div class="inline-block product-image-div">
				<%= image_tag "graphics_gen1.jpg", alt: "Aloop Gen 1 Graphics" %>
			</div> <!-- image div -->
			<div class="inline-block product-text-div">
				<h2>Gen 1</h2>
				<p>This is the original Gen 1 graphics kit, designed in 1997. The decals blended with the seat cover, which continued the design along the sides of the seat on slick sublimated vinyl panels. The seats looked great but weathered quickly, and we discontinued this style after about a year. <strong>No longer available.</strong></p>
			</div> <!-- text-div -->
		</div> <!-- black box -->

		<div class="black-box no-padding">
			<div class="inline-block product-image-div">
				<%= image_tag "xr4002.jpg", alt: "May 1998 Motocross Action Cover Bike" %>
			</div> <!-- image div -->
			<div class="inline-block product-text-div">
				<h2>May 1998 Motocross Action Cover Bike</h2>
				<p>The May 1998 Motocross Action cover bike.  For a list of parts that we used to make this modified monster, <%= link_to "click here", other_xr400mx_path %>.</p>
			</div> <!-- text-div -->
		</div> <!-- black box -->

	</div> <!-- content container -->
</div> <!-- content row -->

<div class="row black-border-row bp50">
	<div style="margin-top: 30px" class="col-xs-10 col-xs-push-1">
		<h2 class="text-center">Important Information</h2>
		<p>The Aloop 4SMX kit uses radiator plastic from a 1999 CR250. This means that any graphics that will fit the 99 CR will also fit our plastic shrouds.</p>
		<p>There is no difference between the graphics for any of our 4SMX kits. The 250, 400, 600 and 650 kits all use the same graphics. The 250/400 kit dies use a different seat cover from the 600/650.</p>
		<p>Our seat is designed to have the same profile as a Honda CR250, very long and flat across the top. But since the subframe of an XR is wider than that of a CR, we've made the bottom portion of the seat wide enough to span the wider frame. This means we also had to make a special cover that has a CR profile up top, but has much more material on the sides. Some aftermarket  CR250 seat covers will fit, but only if they have a generous cut with plenty of material to reach our wider seat bottom. You're probably better off buying our replacement Aloop seat cover, since they're definitely wide enough to fit perfectly.</p>
		<h4 class="text-center" style="margin-top: 20px"><strong>Questions? For more info or to get in touch,<br>see our <%= link_to "contact us page", new_contact_path %> any time!</strong></h4>
	</div> <!-- column -->
</div> <!-- row -->

<div class="container" style="margin-top: 30px">
	<%= render "home/cta" %>
</div> <!-- container -->



<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>





