<div class="shadow-top background-white row bp50">
	<p class="text-right" style="padding: 10px 20px 0 0"><%= link_to "Back to Kits Page", home_kits_path %></p>

	<div class="header-row row text-center">
		<div class="container">
			<h2>Aloop XR250 / XR400 Motocross Rear Fenders</h2>
			<h3>Fits all 1993-2016 Honda XR650L models</h3>
			<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
		</div> <!-- container -->
	</div>

	<div class="black-border-row text-center row">
		<div class="mini-pictures">
			<a href="#popup-1" class="open-popup-link">
				<%= image_tag "fender_1.jpg", alt: "Aloop XR250/XR400 Rear Fender" %>
			</a>
			<a href="#popup-2" class="open-popup-link">
				<%= image_tag "fender_1_2.jpg", alt: "Aloop XR250/XR400 Rear Fender", class: "mini-pictures mini-picture-1" %>
			</a>
		</div> <!-- mini-pictures -->
	</div> <!-- black border row -->

	<div class="row product-row">
		<div class="container">

			<div class="text-center">
				<h1>
					<strong>Fits all 1993-2004 Honda XR250R or XR400R models</strong>
				</h1>
			</div>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<p>These high quality fenders will give your XR an aggressive, modern look. They are made to match a CR-style fender profile, yet they mate perfectly with the XR side number plates, under-fender and subframe. Made in the USA of high density injection molded plastic. Available in Black, White, or Fighting Red.</p>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<div class="text-center">
				<h1><strong>All fenders are now available online!</strong></h1>

				<div class="row">
					<div class="col-sm-4">
						<p>
							<strong>Rear Fender, Black</strong>
							<br>Aloop Part #070-200bk
							<br>Maier Part #12304
							<br><strong>Price: $59.95</strong>
						</p>
						<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
					</div> <!-- column -->

					<div class="row visible-xs">
						<hr class="col-sm-6 col-sm-push-3">
					</div>

					<div class="col-sm-4">
						<p>
							<strong>Rear Fender, Red</strong>
							<br>Aloop Part #070-200rd
							<br>Maier Part #12304
							<br><strong>Price: $59.95</strong>
						</p>
						<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
					</div> <!-- column -->

					<div class="row visible-xs">
						<hr class="col-sm-6 col-sm-push-3">
					</div>

					<div class="col-sm-4">
						<p>
							<strong>Rear Fender, White</strong>
							<br>Aloop Part #070-200wh
							<br>Maier Part #12304
							<br><strong>Price: $59.95</strong>
						</p>
						<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
					</div> <!-- column -->
				</div> <!-- row inner -->
			</div> <!-- text center row outer -->

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

		</div> <!-- container -->
	</div> <!-- row -->

	<div class="container">
		<%= render "home/cta" %>
	</div>

	<p class="text-center"><%= link_to "Back to Kits Page", home_kits_path %></p>
</div> <!-- white row -->


<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>

<div id="popup-1" class="image-popup mfp-hide text-center">
  <%= image_tag "fender_1.jpg", alt: "Aloop XR250/XR400 Rear Fender", class: "popup-picture" %>
</div>

<div id="popup-2" class="image-popup mfp-hide text-center">
  <%= image_tag "fender_1_2.jpg", alt: "Aloop XR250/XR400 Rear Fender", class: "popup-picture" %>
</div>