<div class="shadow-top background-white row bp50">
	<p class="text-right" style="padding: 10px 20px 0 0"><%= link_to "Back to Kits Page", home_kits_path %></p>

	<div class="header-row row text-center">
		<div class="container">
			<h2>4SMX Kit for XR250 and&nbsp;XR400</h2>
			<h3>The most popular XR400 performance modification in the world! Thousands of our Aloop 4SMX kits are now in service worldwide.</h3>
			<h3><strong>Get one for your&nbsp;bike&nbsp;today!</strong></h3>
			<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
		</div> <!-- container -->
	</div>

	<div class="black-border-row text-center row">
		<div class="mini-pictures">
			<a href="#popup-1" class="open-popup-link">
				<%= image_tag "kit_1_1.jpg", alt: "4SMX Kit for XR250 and XR400", class: "mini-pictures active mini-picture-1" %>
			</a>
			<a href="#popup-2" class="open-popup-link">
				<%= image_tag "kit_1_2.jpg", alt: "4SMX Kit for XR250 and XR400", class: "mini-pictures mini-picture-1" %>
			</a>
		</div> <!-- mini-pictures -->
	</div> <!-- black border row -->

	<div class="row product-row">
		<div class="container">

			<div class="text-center">
				<h1>
					<strong>Fits 1995-2004 XR250s and 1996-2004&nbsp;XR400s</strong>
					<br>
					<small>(It will also fit 1987-94 XR250's with slight subframe mods.)</small>
				</h1>
			</div>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<p>Featured on the cover of the April 1998 Dirt Bike Magazine and the cover of the May 1998 Motocross Action Magazine, and more than 8 other Offroad Magazine covers worldwide, ALOOP's XR400 Seat Tank kit is a "must-have" item for any XR400 performance rider.</p>
			<p>The kit consists of a 2.0 gallon motocross tank, (just .8 gallon less than the stock tank), a new seat with CR-style foam and a Guts Racing non-slip seat cover, and two CR-style radiator shrouds complete with genuine Guts graphics. The new tank is set up to use two fuel petcocks for better fuel delivery under race conditions. Most importantly, the ALOOP Tank allows the rider to sit more than 3 inches further forward, more than an inch higher, and the tank is more than three inches narrower at the knees.</p>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<div class="text-center">
				<h1><strong>The ALOOP 4SMX XR250 or XR400 seat/tank kit costs just $499 plus shipping and is available online.</strong></h1>
				<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
			</div>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

		</div> <!-- container -->
	</div> <!-- row -->

	<div class="container">
		<%= render "home/cta" %>
	</div>

	<p class="text-center"><%= link_to "Back to Kits Page", home_kits_path %></p>
</div> <!-- white row -->

<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>

<div id="popup-1" class="image-popup mfp-hide text-center">
  <%= image_tag "kit_1_1.jpg", alt: "4SMX Kit for XR250 and XR400", class: "popup-picture" %>
</div>

<div id="popup-2" class="image-popup mfp-hide text-center">
  <%= image_tag "kit_1_2.jpg", alt: "4SMX Kit for XR250 and XR400", class: "popup-picture" %>
</div>
