<div class="shadow-top background-white row bp50">
	<p class="text-right" style="padding: 10px 20px 0 0"><%= link_to "Back to Kits Page", home_kits_path %></p>

	<div class="header-row row text-center">
		<div class="container">
			<h2>4SMX Kit for XR650L</h2>
			<h3>Fits all 1993-2016 Honda XR650L models</h3>
			<h3><strong>Bring your XR650L into the 21st century, for Street, Dirt&nbsp;or&nbsp;Supermoto!</strong></h3>
			<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
		</div> <!-- container -->
	</div>

	<div class="black-border-row text-center row">
		<div class="mini-pictures">
			<a href="#popup-1" class="open-popup-link">
				<%= image_tag "kit_3_1.jpg", alt: "4SMX Kit for XR650L", class: "mini-pictures active mini-picture-1" %>
			</a>
			<a href="#popup-2" class="open-popup-link">
				<%= image_tag "kit_3_2.jpg", alt: "4SMX Kit for XR650L", class: "mini-pictures mini-picture-1" %>
			</a>
			<a href="#popup-3" class="open-popup-link">
				<%= image_tag "kit_3_3.jpg", alt: "4SMX Kit for XR650L", class: "mini-pictures mini-picture-1" %>
			</a>
		</div> <!-- mini-pictures -->
	</div> <!-- black border row -->

	<div class="row product-row">
		<div class="container">

			<div class="text-center">
				<h1>
					<strong>Fits all 1993-2016 Honda XR650L models</strong>
				</h1>
			</div>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<p>Many thanks to the HUNDREDS of customers who have patiently awaited the release of the Aloop Seat/tank kit to fit the Honda XR650L. The WAIT IS OVER, we now have XR650L Kits in stock and are filling orders daily. Place your order now and get the most incredible XR650L upgrade ever!</p>
			<p>The NEW Aloop XR650L kit fits the 1993-2016 XR650L. Fuel tank capacity is approx. 2 gallons, and the new Aloop seat flows like a CR-style seat, flat and comfortable with no huge humpback  like the stock seat and tank. Most importantly, the new Aloop seat and tank are over 4" narrower at the knees, and this brings an incredible sense of control and stability when you pinch the tank with your legs.</p>
			<p>The new XR650L kit includes the 2 gallon fuel tank in black, a pair of plastic shrouds with Aloop decal set, a new MX style seat fully assembled, and all mounting hardware. Cost is only US$499 plus shipping.</p>
			<p><strong>ONE IMPORTANT NOTE: We will supply the new XR650L kit with all parts needed to install it EXCEPT for an XR style fuel cap.</strong> You will not be able to use your XR650L cap as it fits the metal tank. You should order a Honda cap, <strong>part# 17620-KT1-780</strong> from your dealer. The approximate retail price for this part is just $25. Alternatively, you can order a billet XR cap from companies such as BBR or Sunline. Just be aware that you're going to need an XR cap in order to complete the installation. (Both fuel petcocks will be provided by Aloop).</p>
			<p>Feel free to <%= link_to "contact us", new_contact_path %> with any questions.</p>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

			<div class="text-center">
				<h1><strong>The ALOOP 4SMX XR650L seat/tank kit costs just $499 plus shipping and is available online.</strong></h1>
				<div class="btn cta"><%= link_to "Buy Now", products_path %></div>
			</div>

			<div class="row">
				<hr class="col-sm-6 col-sm-push-3">
			</div>

		</div> <!-- container -->
	</div> <!-- row -->

	<div class="container">
		<%= render "home/cta" %>
	</div>

	<p class="text-center"><%= link_to "Back to Kits Page", home_kits_path %></p>
</div> <!-- white row -->


<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>

<div id="popup-1" class="image-popup mfp-hide text-center">
  <%= image_tag "kit_3_1.jpg", alt: "4SMX Kit for XR650L", class: "popup-picture" %>
</div>

<div id="popup-2" class="image-popup mfp-hide text-center">
  <%= image_tag "kit_3_2.jpg", alt: "4SMX Kit for XR650L", class: "popup-picture" %>
</div>

<div id="popup-3" class="image-popup mfp-hide text-center">
  <%= image_tag "kit_3_3.jpg", alt: "4SMX Kit for XR650L", class: "popup-picture" %>
</div>