<div class="text-center header-row row">
	<h2>My Account</h2>
	<p><%= link_to "Edit My Information", edit_user_registration_path %> | 
	<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p>
</div> <!-- centered header -->

<div class="container">
	<h4><strong>Client: </strong><%= @user.first_name %> <%= @user.last_name %></h4>
	<h4><strong>Email Address: </strong><%= @user.email %></h4>
	<h4><strong>Phone: </strong><%= @user.phone %></h4>
</div> <!-- page container -->
