<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_2.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
	<div class="index-text row">
		<h2>Information & FAQ</h2>
	</div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="row text-center header-row background-white">
	<div class="container">
		<h3>Aloop sells and ships our products worldwide. We've sent Aloop kits to thousands of riders in over 50 countries, and the list grows almost every day. </h3>
	</div> <!-- container -->
</div> <!-- header row -->

<div class="row text-center background-white">
	<h3><strong>Here's a letter from a happy customer in Spain:</strong></h3>

	<div class="sticky-note">
		<span style="display: inline-block; position: relative; width: 1%; vertical-align: middle; height: 350px"></span>
		<div class="sticky-note-text"><em>
			<p>The kit arrived by late Friday, indeed much sooner than expected, so I must say I’m quite impressed by shipping service. I’ve been also quite impressed by the general quality of fit, finish an engineering of the A-Loop kit. Thanks to it I have an all together new bike!</p>
			<p>I decided to take my time and enjoy the work, so I spent best part of the weekend mounting the kit. Thanks to the sense of humour of the instructions I must say it was a double enjoyment. In short, thanks for an outstanding product and a no less outstanding service.</p>
			<p class="text-right">Kind regards from Spain, Fernando G.</p>
		</em></div> <!-- text div -->
	</div> <!-- sticky note -->
</div> <!-- row -->

<div class="row text-center background-white">
	<%= image_tag "tire_tracks.jpg", style: "width: 80%; max-height: 80px", alt: "Tire Tracks" %>
</div>

<div class="row FAQ background-white bp50">
	<div class="container">
		<h3 class="text-center">Here are some questions and answers about the Aloop 4SMX Seat/Tank Kit. <strong>Click on a question to see the answer.</strong></h3>

		<h4>What shrouds (radiator plastic) does the Aloop kit use?</h4>
		<p class="hidden">The Aloop 4SMX seat/tank kit uses shrouds from the 1999 CR250 Honda. Currently we are supplying Acerbis brand shrouds with our kits, but you could also use genuine Honda shrouds, or even UFO or some other brand. Any shrouds meant to fit the 1999 CR250 should fit our kit.  We do modify the shrouds slightly to fit our tank though.  Basically the mods consist of cutting off the rear shroud bolt hole and mount, and removing the vertical reinforcing rib on the inside of the shroud. If you're fitting your own replacement shrouds use your original Aloop shroud as a guide.</p>

		<h4>What graphics will fit the Aloop shrouds?</h4>
		<p class="hidden">Any graphics meant to fit the 1997-1999 Honda CR250 will fit our shrouds. To look at our current Aloop graphics, <%= link_to "click here", kits_graphics_path %>. There is no difference between the graphics for any of our 4SMX kits. The 250, 400, 600 and 650 kits all use the same graphics. The 250/400 kit does use a different seat cover from the 600/650.</p>

		<h4>What seat covers will fit an Aloop Seat?</h4>
		<p class="hidden">Our seat is designed to have the same profile as a Honda CR250, very long and flat across the top. But since the subframe of an XR is wider than that of a CR, we've made the bottom portion of the seat wide enough to span the wider frame. This means we also had to make a special cover that has a CR profile up top, but has much more material on the sides. Some aftermarket  CR250 seat covers will fit, but only if they have a generous cut with plenty of material to reach our wider seat bottom. You're probably better off buying our replacement Aloop seat cover, since they're definitely wide enough to fit perfectly.</p>

		<h4>Can I use an Aloop Seat with a stock fuel tank?</h4>
		<p class="hidden">While the Aloop fuel tank and shrouds give our kits their distinctive look, the secret behind an Aloop kit is really the seat. Our flat, CR-style seat profile allows the rider to move much further forward on the bike, placing the rider's weight forward of the footpegs. When you get your weight that far up front it totally changes the way the bike handles. To make our seat so long and flat, we had to design a fuel tank that allowed us to push the seat almost four inches into the space that the stock tank takes up. If you kept the stock tank on your bike, any seat would be pushed up sharply at the front (exactly like your stock XR seat is), because the stock tank has such a big, bulbous hump to it. In order to have that ironing-board profile, you'll need to use the Aloop seat together with the Aloop tank it was made to fit. </p>

		<h4>Do you sell replacement parts for your kit?</h4>
		<p class="hidden">We sell every part of our XR Seat/Tank kits as a replacement part. <%= link_to "Click here", kits_replacement_path %> to see a part number listing and prices.</p>

		<h4>Do you ship your Aloop kits worldwide? </h4>
		<p class="hidden">Absolutely! We've sold thousands of Aloop 4SMX kits worldwide to customers in over 40 countries! We are happy to ship direct to you where ever you live.  We usually ship overseas orders via US Mail Global Express Mail service, and it takes about 3-5 days to reach Europe, and 7-10 days to reach Asia and Australia. Cost for Global Express Mail shipping is usually about US$150 per kit. The kit comes in two boxes so it does not travel as an oversize parcel. With Global Express Mail we can both track the progress of the packages, and it's been a very reliable method to get our products overseas.</p>

		<h4>Do you have any dealers or distributors overseas?</h4>
		<p class="hidden">Yes, check out our <%= link_to "contact page", new_contact_path %> for links to the distributors' websites.</p>

		<h4>How can I get more fuel capacity out of an Aloop tank?</h4>
		<p class="hidden">One thing you can try is the "boiling water" trick to expand the tank. Empty the tank all the way, then (with tank installed on the bike) fill it to the top with boiling water. Let it sit for a couple of minutes, then inflate the tank gently by mouth thru the vent hose. It'll blow up like a balloon. You don't need much pressure, that's why you do it by mouth and never with compressed air. After you've grown it a bit, (use your judgment about what looks right), then just tie off the vent tube and let it sit overnight. You can use this trick with any plastic tank, and you can usually get up to a quart more capacity without really changing the look of the tank.</p>

		<h4>My Aloop XR400 seat base has broken, what caused this?</h4>
		<p class="hidden">When you install your seat, please make sure that the two tongues under the middle of the seat are underneath the two wire loops that hold the seat down. If you install the seat wrong and the seat is over these two wire loops, then all you weight is pressing down on the seat tongues and they are sure to break. We have seen this many times even with a stock seat. We recommend that you look at the wire loops and maybe bend them up as tall and straight as they will go. If the seat is installed correctly then there is no stress at all on these two plastic seat tongues and they probably will never break.</p>

	</div> <!-- faq container -->
</div> <!-- faq row -->

<script>
	$(document).ready(function(){
		$("h4").click(function() {
			$(this).next().toggleClass("hidden");
		});
	});
</script>






