<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_5.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="index-text row">
    <h2>Aloop Kits</h2>
  </div> <!-- index text row -->
</div> <!-- overlap hero image -->


<div class="row black-border-row text-center background-white" style="margin-top: 0px">
	<%= link_to kits_XR250_XR400_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>4SMX Kit for XR250 & XR400</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "kit_1_1.jpg", alt: "Aloop 4SMX Seat/Tank Kit for XR250 and XR400" %>
		</div> <!-- all kit box -->
	<% end %>

	<%= link_to kits_XR600_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>4SMX Kit for XR600</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "kit_2_1.jpg", alt: "Aloop 4SMX Seat/Tank Kit for XR600" %>
		</div> <!-- all kit box -->
	<% end %>

	<%= link_to kits_XR650L_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>4SMX Kit for XR650L</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "kit_3_1.jpg", alt: "Aloop 4SMX Seat/Tank Kit for XR650L" %>
		</div> <!-- all kit box -->
	<% end %>
</div> <!-- black border row -->

<div class="row  text-center">
	<%= link_to kits_replacement_path do %>
		<div class="col-xs-12 all-kit-box replacement-parts">
				<div style="height: 150px">
					<%= image_tag "metal_background.jpg", alt: "Background Image" %>
				</div>
			<div class="col-xs-4 kit-text-box replacement-parts">
				<h2>Replacement Parts</h2>
			</div><!-- kit text box -->
		</div> <!-- all kit box -->
	<% end %>
</div> <!-- black border row -->




<div class="row black-border-row text-center" style="margin-top: 0">
	<%= link_to kits_graphics_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>Aloop Graphic Kits</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "graphics_gen4.jpg", alt: "Aloop Graphics" %>
		</div> <!-- all kit box -->
	<% end %>

	<%= link_to kits_rear_fenders_1_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>Rear Fenders XR250 & XR400</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "fender_1.jpg", alt: "Aloop Rear Fenders XR250 and XR400" %>
		</div> <!-- all kit box -->
	<% end %>

	<%= link_to kits_rear_fenders_2_path do %>
		<div class="col-sm-4 all-kit-box">
			<div class="col-sm-4 kit-text-box">
				<h2>Rear Fenders XR600 & XR650L</h2>
				<span></span>
			</div><!-- kit text box -->
			<%= image_tag "fender_2.jpg", alt: "Aloop Rear Fenders XR600 and XR650L" %>
		</div> <!-- all kit box -->
	<% end %>
</div> <!-- black border row -->








