<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <h2 style="font-size: 30px"><%= product.name %></h2>
      <p><%= product.tag_line %></p>
      <h4>Price Per Unit: <span class="color-red"><%= number_to_currency order_item.unit_price %></span></h4>
    </div> <!-- 8 column -->

    <div class="col-xs-6">
      <%= form_for order_item, remote: true do |f| %>
        <div class="row text-right">
          <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1, style: "width: 80px; display: inline-block;" %><br>
          <%= f.submit "Update Quantity", class: "submit-as-text" %><br>
          <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true } %><br>
          <%= f.hidden_field :product_id, value: product.id %>
            <h4>Total Price: <span class="color-red"><%= number_to_currency order_item.total_price %></span></h4>
        </div> <!-- row -->
      <% end %>
    </div> <!-- 4 column -->

  </div> <!-- row -->
</div>  <!-- container -->

<div class="row">
  <hr class="col-xs-6 col-xs-push-3">
</div>
