<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Take a look at our  <%= link_to "store", products_path %> for some awesome gear.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>


<div class="total-row row">
  <div class="container">

    <div class="col-sm-6 text-left">
      <h4>Please select your location so we can calculate the correct sales tax:</h4>
      <div class="choice-box in-CO">
        <p><i class="icon in-CO-ion ion-ios-circle-outline"></i>I live in Colorado.</p>
      </div> <!-- choice box -->
      <div class="choice-box out-CO">
        <p><i class="icon out-CO-ion ion-ios-circle-outline"></i>I live outside Colorado.</p>
      </div> <!-- choice box -->

      <% order_tax_rate = 0 %>
    </div> <!-- column -->

    <div class="col-sm-6 text-right">
      <% order_subtotal = 0 %>
      <% @order_items.each do |item| %>
        <% order_subtotal += item.unit_price %>
      <% end %>

      <h4><strong>Cart Subtotal: <span class="color-red">
        <%= number_to_currency order_subtotal %>  
      </span></strong></h4>

      <% order_tax = order_tax_rate * order_subtotal %>

      <h4><strong>Tax: <span class="color-red">
        <%= number_to_currency order_tax %> 
      </span></strong></h4>

      <% order_total = order_tax + order_subtotal %>

      <h4><strong>Total: <span class="color-red">
        <%= number_to_currency order_total %>  
      </span></strong></h4>

    </div> <!-- column -->
  </div> <!-- container -->
</div> <!-- total row -->

<script type="text/javascript">
  $(document).ready(function() {
    $(".in-CO").click(function() {
      $(this).addClass("active");
      $(".in-CO-ion").addClass("ion-ios-checkmark-outline");
      $(".in-CO-ion").removeClass("ion-ios-circle-outline");
      $(".out-CO").removeClass("active");
      $(".out-CO-ion").removeClass("ion-ios-checkmark-outline");
      $(".out-CO-ion").addClass("ion-ios-circle-outline");
    });
    $(".out-CO").click(function() {
      $(this).addClass("active");
      $(".out-CO-ion").addClass("ion-ios-checkmark-outline");
      $(".out-CO-ion").removeClass("ion-ios-circle-outline");
      $(".in-CO").removeClass("active");
      $(".in-CO-ion").removeClass("ion-ios-checkmark-outline");
      $(".in-CO-ion").addClass("ion-ios-circle-outline");
    })
  });
</script>

<% end %>