<div class="hero-image-row">
  <div class="hero-image-outer text-center">
    <div class="hero-image-inner text-center">
      <%= image_tag "polaris_9.jpg", class: "hero-image", alt: "Asphalt road with clouds." %>
    </div> <!-- hero-image-inner -->
  </div> <!-- hero-image-inner -->
</div> <!-- row -->

<div class="overlap-hero-image">
  <div class="index-text row">
    <h2>Customer Photo Gallery</h2>
  </div> <!-- index text row -->
</div> <!-- overlap hero image -->

<div class="container">
     <div class="row text-center">
          <h3>Over the last 10 years we've sold almost 5,500 of our seat tank kits to avid XR pilots all around the world. Here are a few of the photos that our happy customer's have sent in. We hope you enjoy them as much as we did!</h3>

          <div class="btn"><%= link_to 'Share a Photo', new_photo_path %></div>
     </div> <!-- row -->

     <% @photos.each do |photo| %>

          <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
               <a href="#<%= photo.id %>" class="open-popup-link">
                    <div class="snapshot">
                         <%= image_tag photo.image.url, alt: photo.user.last_name %>
                    </div> <!-- snapshot -->
               </a>
          </div> <!-- column -->

          <div id="<%= photo.id %>" class="image-popup mfp-hide text-center">
            <%= image_tag photo.image.url, alt: photo.user.last_name, class: "popup-picture", style: "margin-bottom: 30px" %>
            <% if !photo.user.admin %>
               <h3><strong>Submitted by: </strong><%= photo.user.first_name %></h3>
            <% end %>
          <p><%= photo.comments %></p>
          </div>     
     <% end %>

</div> <!-- page container -->

<script type="text/javascript">
  $('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true
  });
</script>
