<div class="text-center row">
	<div class="container">
		<%= image_tag @photo.image.url, alt: @photo.user.last_name %>

		<h3><%= @photo.comments %></h3>

		<p><strong>Submitted by:</strong> <%= @photo.user.first_name %></p>

		<%= link_to 'Edit', edit_photo_path(@photo) %> | <%= link_to 'Back', photos_path %>
	</div> <!-- container -->
</div> <!-- row -->

