<div class="container">
  <h2 class="text-center">Products</h2>

  <% @products.each do |category, products| %>
    <h3><%= category.name %></h3>

    <% products.each do |product| %>
      <div class="item-row black-border-row row" style="margin-bottom: 60px">
        <div class="container">
          <div class="col-sm-3 text-center">
            <%= image_tag product.default_image.path, alt: product.name, style: "padding: 20px; max-width: 100%" %>

            <h3><strong><%= number_to_currency product.price %></strong></h3>
          </div> <!-- image -->

          <div class="col-sm-9">
            <h1><%= product.name %></h1>
            <p><%= product.short_description %></p>
            <%= link_to product_path(product.permalink), :method => :post do %>
              <div class="btn cta">Add to Cart</div>
            <% end %>
          </div> <!-- info -->
        </div> <!-- page container -->
      </div> <!-- item row -->
    <% end %> <!-- products -->
  <% end %> <!-- categories -->
</div> <!-- container -->

<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>